(
    id: "project-d3dfca19-c53d-47ea-825e-2c9a914dba8e",
    name: "Test Project",
    version: "0.1.0",
    description: "Test project for tessera",
    created: "2025-07-10T19:45:19.378465677Z",
    modules: [
        "pm",
        "quality",
        "tol",
    ],
    git_repo: None,
    metadata: {},
)