(
    id: "project-276e85bd-3a76-4749-bc70-37c8563b954b",
    name: "Sample Project",
    version: "0.1.0",
    description: "Testing cargo run",
    created: "2025-07-10T17:45:50.923891065Z",
    modules: [
        "pm",
        "quality",
        "tol",
    ],
    git_repo: None,
    metadata: {},
)