[
    (
        stackup_id: ("8d8c19a7-0ba8-43df-aa1c-22f44dfcf379"),
        stackup_name: "pin alignment",
        target_dimension: 0.1,
        config: (
            method: WorstCase,
            simulations: 10000,
            confidence_level: 0.95,
            use_three_sigma: true,
        ),
        feature_contributions: [
            (
                feature_id: ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
                feature_name: "distance to hol",
                direction: 1.0,
                half_count: false,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "distance to hol",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
                feature_name: "hole",
                direction: 1.0,
                half_count: true,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "hole",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
                feature_name: "distance to pin",
                direction: -1.0,
                half_count: false,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "distance to pin",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
                feature_name: "od",
                direction: -1.0,
                half_count: true,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "od",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
        ],
        results: (
            nominal_dimension: 0.10499999999999954,
            predicted_tolerance: (
                plus: 0.3,
                minus: 0.3,
                distribution: Uniform,
            ),
            three_sigma_tolerance: None,
            user_specified_tolerance: None,
            cp: 1.0,
            cpk: 0.8,
            sigma_level: 3.0,
            yield_percentage: 99.73,
            distribution_data_file: None,
            quartile_data: None,
        ),
        created: "2025-07-12T02:00:13.782640734Z",
    ),
    (
        stackup_id: ("8d8c19a7-0ba8-43df-aa1c-22f44dfcf379"),
        stackup_name: "pin alignment",
        target_dimension: 0.1,
        config: (
            method: RootSumSquare,
            simulations: 10000,
            confidence_level: 0.95,
            use_three_sigma: true,
        ),
        feature_contributions: [
            (
                feature_id: ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
                feature_name: "distance to hol",
                direction: 1.0,
                half_count: false,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "distance to hol",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
                feature_name: "hole",
                direction: 1.0,
                half_count: true,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "hole",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
                feature_name: "distance to pin",
                direction: -1.0,
                half_count: false,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "distance to pin",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
                feature_name: "od",
                direction: -1.0,
                half_count: true,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "od",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
        ],
        results: (
            nominal_dimension: 0.10499999999999954,
            predicted_tolerance: (
                plus: 0.15811388300841897,
                minus: 0.15811388300841897,
                distribution: Normal,
            ),
            three_sigma_tolerance: Some((
                plus: 0.15811388300841897,
                minus: 0.15811388300841897,
                distribution: Normal,
            )),
            user_specified_tolerance: None,
            cp: 1.0000000000000002,
            cpk: 1.0,
            sigma_level: 3.0,
            yield_percentage: 99.9937,
            distribution_data_file: None,
            quartile_data: None,
        ),
        created: "2025-07-12T02:00:13.782960934Z",
    ),
    (
        stackup_id: ("8d8c19a7-0ba8-43df-aa1c-22f44dfcf379"),
        stackup_name: "pin alignment",
        target_dimension: 0.1,
        config: (
            method: MonteCarlo,
            simulations: 10000,
            confidence_level: 0.95,
            use_three_sigma: true,
        ),
        feature_contributions: [
            (
                feature_id: ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
                feature_name: "distance to hol",
                direction: 1.0,
                half_count: false,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "distance to hol",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
                feature_name: "hole",
                direction: 1.0,
                half_count: true,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "hole",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
                feature_name: "distance to pin",
                direction: -1.0,
                half_count: false,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "distance to pin",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
                feature_name: "od",
                direction: -1.0,
                half_count: true,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "od",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
        ],
        results: (
            nominal_dimension: 0.10501569327071074,
            predicted_tolerance: (
                plus: 0.16127500945489687,
                minus: 0.15578551319856332,
                distribution: Normal,
            ),
            three_sigma_tolerance: Some((
                plus: 0.16127500945489687,
                minus: 0.15578551319856332,
                distribution: Normal,
            )),
            user_specified_tolerance: None,
            cp: 1.009857625805808,
            cpk: 0.9923732363589708,
            sigma_level: 2.9771197090769124,
            yield_percentage: 99.74,
            distribution_data_file: Some("data/simulations/stackup_8d8c19a7-0ba8-43df-aa1c-22f44dfcf379_20250712_020013.csv"),
            quartile_data: Some((
                minimum: -0.09826588988965312,
                q1: 0.06960320845226864,
                median: 0.10407995289436522,
                q3: 0.1398435944941503,
                maximum: 0.32893521372802637,
                iqr: 0.07024038604188165,
                p5: 0.019476020884150902,
                p95: 0.19153950315747048,
            )),
        ),
        created: "2025-07-12T02:00:13.977753871Z",
    ),
    (
        stackup_id: ("8d8c19a7-0ba8-43df-aa1c-22f44dfcf379"),
        stackup_name: "pin alignment",
        target_dimension: 0.1,
        config: (
            method: RootSumSquare,
            simulations: 10000,
            confidence_level: 0.95,
            use_three_sigma: true,
        ),
        feature_contributions: [
            (
                feature_id: ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
                feature_name: "distance to hol",
                direction: 1.0,
                half_count: false,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "distance to hol",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
                feature_name: "hole",
                direction: 1.0,
                half_count: true,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "hole",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
                feature_name: "distance to pin",
                direction: -1.0,
                half_count: false,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "distance to pin",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
                feature_name: "od",
                direction: -1.0,
                half_count: true,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "od",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
        ],
        results: (
            nominal_dimension: 0.10499999999999954,
            predicted_tolerance: (
                plus: 0.15811388300841897,
                minus: 0.15811388300841897,
                distribution: Normal,
            ),
            three_sigma_tolerance: Some((
                plus: 0.15811388300841897,
                minus: 0.15811388300841897,
                distribution: Normal,
            )),
            user_specified_tolerance: None,
            cp: 1.0000000000000002,
            cpk: 1.0,
            sigma_level: 3.0,
            yield_percentage: 99.9937,
            distribution_data_file: None,
            quartile_data: None,
        ),
        created: "2025-07-12T02:07:52.187505992Z",
    ),
    (
        stackup_id: ("8d8c19a7-0ba8-43df-aa1c-22f44dfcf379"),
        stackup_name: "pin alignment",
        target_dimension: 0.1,
        config: (
            method: MonteCarlo,
            simulations: 10000,
            confidence_level: 0.95,
            use_three_sigma: true,
        ),
        feature_contributions: [
            (
                feature_id: ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
                feature_name: "distance to hol",
                direction: 1.0,
                half_count: false,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "distance to hol",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
                feature_name: "hole",
                direction: 1.0,
                half_count: true,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "hole",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
                feature_name: "distance to pin",
                direction: -1.0,
                half_count: false,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "distance to pin",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
                feature_name: "od",
                direction: -1.0,
                half_count: true,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "od",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
        ],
        results: (
            nominal_dimension: 0.1048521358392007,
            predicted_tolerance: (
                plus: 0.16239488443336983,
                minus: 0.15013081692938776,
                distribution: Normal,
            ),
            three_sigma_tolerance: Some((
                plus: 0.16239488443336983,
                minus: 0.15013081692938776,
                distribution: Normal,
            )),
            user_specified_tolerance: Some((
                plus: 0.1034442966045204,
                minus: 0.10236947124849413,
                distribution: Normal,
            )),
            cp: 0.9932857523324536,
            cpk: 0.954307442823089,
            sigma_level: 2.862922328469267,
            yield_percentage: 99.74,
            distribution_data_file: Some("data/simulations/stackup_8d8c19a7-0ba8-43df-aa1c-22f44dfcf379_20250712_020752.csv"),
            quartile_data: Some((
                minimum: -0.07648829649534905,
                q1: 0.06951969889552645,
                median: 0.10449689124977057,
                q3: 0.14004770336882455,
                maximum: 0.31604255217283717,
                iqr: 0.0705280044732981,
                p5: 0.01962476709693961,
                p95: 0.19149230696885544,
            )),
        ),
        created: "2025-07-12T02:07:52.407827134Z",
    ),
]