[
    (
        stackup_id: ("8d8c19a7-0ba8-43df-aa1c-22f44dfcf379"),
        stackup_name: "pin alignment",
        target_dimension: 0.1,
        config: (
            method: MonteCarlo,
            simulations: 10000,
            confidence_level: 0.95,
            use_three_sigma: true,
        ),
        feature_contributions: [
            (
                feature_id: ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
                feature_name: "distance to hol",
                direction: 1.0,
                half_count: false,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "distance to hol",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
                feature_name: "hole",
                direction: 1.0,
                half_count: true,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "hole",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
                feature_name: "distance to pin",
                direction: -1.0,
                half_count: false,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "distance to pin",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
                feature_name: "od",
                direction: -1.0,
                half_count: true,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "od",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
        ],
        results: (
            nominal_dimension: 0.10569681693031457,
            predicted_tolerance: (
                plus: 0.16221513966896278,
                minus: 0.1658928429979341,
                distribution: Normal,
            ),
            three_sigma_tolerance: Some((
                plus: 0.16221513966896278,
                minus: 0.1658928429979341,
                distribution: Normal,
            )),
            user_specified_tolerance: Some((
                plus: 0.1040731271083874,
                minus: 0.10221802783313289,
                distribution: Normal,
            )),
            cp: 0.12552722634615257,
            cpk: 0.08977194493294298,
            sigma_level: 0.2693158347988289,
            yield_percentage: 29.14,
            distribution_data_file: Some("data/simulations/stackup_8d8c19a7-0ba8-43df-aa1c-22f44dfcf379_20250712_024705.csv"),
            quartile_data: Some((
                minimum: -0.08896375327892159,
                q1: 0.06992505153401396,
                median: 0.10630581174096987,
                q3: 0.14155622270551316,
                maximum: 0.3210732584996494,
                iqr: 0.0716311711714992,
                p5: 0.018922351480607613,
                p95: 0.1928661920887511,
            )),
        ),
        created: "2025-07-12T02:47:06.111919084Z",
    ),
]