[
    (
        stackup_id: ("8d8c19a7-0ba8-43df-aa1c-22f44dfcf379"),
        stackup_name: "pin alignment",
        target_dimension: 0.1,
        config: (
            method: MonteCarlo,
            simulations: 10000,
            confidence_level: 0.95,
            use_three_sigma: true,
        ),
        feature_contributions: [
            (
                feature_id: ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
                feature_name: "distance to hol",
                direction: 1.0,
                half_count: false,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "distance to hol",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
                feature_name: "hole",
                direction: 1.0,
                half_count: true,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "hole",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
                feature_name: "distance to pin",
                direction: -1.0,
                half_count: false,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "distance to pin",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
                feature_name: "od",
                direction: -1.0,
                half_count: true,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "od",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
        ],
        results: (
            nominal_dimension: 0.10462406139806449,
            predicted_tolerance: (
                plus: 0.1534687824084686,
                minus: 0.15739411369675185,
                distribution: Normal,
            ),
            three_sigma_tolerance: Some((
                plus: 0.1534687824084686,
                minus: 0.15739411369675185,
                distribution: Normal,
            )),
            user_specified_tolerance: Some((
                plus: 0.10297599149441813,
                minus: 0.10259727913005293,
                distribution: Normal,
            )),
            cp: 0.12760196256888764,
            cpk: 0.09809999709728447,
            sigma_level: 0.2942999912918534,
            yield_percentage: 29.189999999999998,
            distribution_data_file: Some("data/simulations/stackup_8d8c19a7-0ba8-43df-aa1c-22f44dfcf379_20250712_035331.csv"),
            quartile_data: Some((
                minimum: -0.07871560513733744,
                q1: 0.06889139554800527,
                median: 0.10468554704305211,
                q3: 0.139900580452073,
                maximum: 0.3072819342051134,
                iqr: 0.07100918490406771,
                p5: 0.018597349701464427,
                p95: 0.19050958999458745,
            )),
        ),
        created: "2025-07-12T03:53:31.541198139Z",
    ),
]