[
    (
        id: ("9b0a89b0-5d01-4f0f-8d25-afaf78783410"),
        name: "plate",
        description: "",
        part_number: None,
        features: [],
        created: "2025-07-12T00:17:16.850833362Z",
        updated: "2025-07-12T00:17:16.850833362Z",
        metadata: {},
    ),
    (
        id: ("0d29d66f-2e3e-4cec-8994-59fe9ebd859a"),
        name: "pin",
        description: "",
        part_number: None,
        features: [],
        created: "2025-07-12T00:17:27.875769483Z",
        updated: "2025-07-12T00:17:27.875769483Z",
        metadata: {},
    ),
]