[
    (
        id: ("bb55e33c-1704-4867-bd09-6ddab235ae8a"),
        name: "plate",
        description: "test plate",
        part_number: None,
        features: [],
        created: "2025-07-10T20:10:22.534318611Z",
        updated: "2025-07-10T20:10:22.534318611Z",
        metadata: {},
    ),
]