[
    (
        id: ("1a5348ea-e927-402f-b280-f0e9569d6ffe"),
        name: "length",
        description: "",
        component_id: ("bb55e33c-1704-4867-bd09-6ddab235ae8a"),
        feature_type: Length,
        nominal: 50.0,
        tolerance: (
            plus: 0.1,
            minus: 0.1,
            distribution: Normal,
        ),
        distribution: Some(Normal),
        distribution_params: Some((
            calculated: true,
            mean: Some(50.0),
            std_dev: Some(0.03333333333333333),
            min: Some(49.9),
            max: Some(50.1),
            mode: Some(50.0),
            shape: Some(2.0),
            scale: Some(0.03333333333333333),
        )),
        drawing_location: None,
        created: "2025-07-10T20:10:41.300183113Z",
        updated: "2025-07-10T20:10:43.438011357Z",
        metadata: {},
    ),
    (
        id: ("e8d71f08-4ef0-40cd-8c33-acd41539c291"),
        name: "hole",
        description: "",
        component_id: ("bb55e33c-1704-4867-bd09-6ddab235ae8a"),
        feature_type: Diameter,
        nominal: 2.0,
        tolerance: (
            plus: 0.1,
            minus: 0.1,
            distribution: Normal,
        ),
        distribution: Some(Normal),
        distribution_params: Some((
            calculated: true,
            mean: Some(2.0),
            std_dev: Some(0.03333333333333333),
            min: Some(1.9),
            max: Some(2.1),
            mode: Some(2.0),
            shape: Some(2.0),
            scale: Some(0.03333333333333333),
        )),
        drawing_location: None,
        created: "2025-07-10T20:10:54.373316872Z",
        updated: "2025-07-10T20:10:55.204223004Z",
        metadata: {},
    ),
]