[
    (
        id: ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
        name: "distance to hol",
        description: "",
        component_id: ("11e16b46-fb09-468e-b9f9-c514ea3c9849"),
        feature_type: Length,
        feature_category: External,
        nominal: 50.0,
        tolerance: (
            plus: 0.1,
            minus: 0.1,
            distribution: Normal,
        ),
        distribution: Some(Normal),
        distribution_params: Some((
            calculated: true,
            mean: Some(50.0),
            std_dev: Some(0.03333333333333333),
            min: Some(49.9),
            max: Some(50.1),
            mode: Some(50.0),
            shape: Some(2.0),
            scale: Some(0.03333333333333333),
        )),
        drawing_location: None,
        created: "2025-07-12T01:58:20.174479768Z",
        updated: "2025-07-12T01:58:21.123615270Z",
        metadata: {},
    ),
    (
        id: ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
        name: "hole",
        description: "",
        component_id: ("11e16b46-fb09-468e-b9f9-c514ea3c9849"),
        feature_type: Diameter,
        feature_category: Internal,
        nominal: 5.11,
        tolerance: (
            plus: 0.1,
            minus: 0.1,
            distribution: Normal,
        ),
        distribution: Some(Normal),
        distribution_params: Some((
            calculated: true,
            mean: Some(5.11),
            std_dev: Some(0.03333333333333333),
            min: Some(5.010000000000001),
            max: Some(5.21),
            mode: Some(5.11),
            shape: Some(2.0),
            scale: Some(0.03333333333333333),
        )),
        drawing_location: None,
        created: "2025-07-12T01:58:35.084058102Z",
        updated: "2025-07-12T01:58:35.948312585Z",
        metadata: {},
    ),
    (
        id: ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
        name: "od",
        description: "",
        component_id: ("a28b7733-087b-477d-90c5-2035c1b6802d"),
        feature_type: Diameter,
        feature_category: External,
        nominal: 4.9,
        tolerance: (
            plus: 0.1,
            minus: 0.1,
            distribution: Normal,
        ),
        distribution: Some(Normal),
        distribution_params: Some((
            calculated: true,
            mean: Some(4.9),
            std_dev: Some(0.03333333333333333),
            min: Some(4.800000000000001),
            max: Some(5.0),
            mode: Some(4.9),
            shape: Some(2.0),
            scale: Some(0.03333333333333333),
        )),
        drawing_location: None,
        created: "2025-07-12T01:58:59.048221192Z",
        updated: "2025-07-12T01:58:59.873517966Z",
        metadata: {},
    ),
    (
        id: ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
        name: "distance to pin",
        description: "",
        component_id: ("a28b7733-087b-477d-90c5-2035c1b6802d"),
        feature_type: Length,
        feature_category: External,
        nominal: 50.0,
        tolerance: (
            plus: 0.1,
            minus: 0.1,
            distribution: Normal,
        ),
        distribution: Some(Normal),
        distribution_params: Some((
            calculated: true,
            mean: Some(50.0),
            std_dev: Some(0.03333333333333333),
            min: Some(49.9),
            max: Some(50.1),
            mode: Some(50.0),
            shape: Some(2.0),
            scale: Some(0.03333333333333333),
        )),
        drawing_location: None,
        created: "2025-07-12T01:59:11.006899842Z",
        updated: "2025-07-12T01:59:11.751599051Z",
        metadata: {},
    ),
]