[
    (
        id: ("5f2f5e56-7a12-4553-9421-68cf5970f5a2"),
        name: "length",
        description: "lenth of plate",
        component_id: ("750ff42b-7a6f-4654-b22b-7ad7c356b417"),
        feature_type: Length,
        nominal: 50.0,
        tolerance: (
            plus: 0.1,
            minus: 0.1,
            distribution: Normal,
        ),
        created: "2025-07-10T19:47:59.768026284Z",
        updated: "2025-07-10T19:47:59.768026284Z",
        metadata: {},
    ),
]