[
    (
        id: ("7d88f0ec-a1bd-4d45-a6fc-54733cf52007"),
        name: "hole to pin",
        description: "",
        mate_type: Clearance,
        primary_feature: ("1a5348ea-e927-402f-b280-f0e9569d6ffe"),
        secondary_feature: ("e8d71f08-4ef0-40cd-8c33-acd41539c291"),
        offset: 0.0,
        created: "2025-07-10T20:11:11.180607370Z",
        updated: "2025-07-10T20:11:11.180607370Z",
        metadata: {},
    ),
]