[
    (
        id: ("8d8c19a7-0ba8-43df-aa1c-22f44dfcf379"),
        name: "pin alignment",
        description: "",
        dimension_chain: [
            ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
            ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
            ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
            ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
        ],
        feature_contributions: [
            (
                feature_id: ("60ded8fd-b450-4c6e-bea9-260e14b81d74"),
                feature_name: "distance to hol",
                direction: 1.0,
                half_count: false,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "distance to hol",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("50fc41f3-bff6-468c-8ee4-7a9358641d94"),
                feature_name: "hole",
                direction: 1.0,
                half_count: true,
                contribution_type: Additive,
                feature_info: (
                    feature_name: "hole",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("aaf28b6c-338e-4b25-8e8d-f01d5c05ed10"),
                feature_name: "distance to pin",
                direction: -1.0,
                half_count: false,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "distance to pin",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
            (
                feature_id: ("eb475e74-1b1d-4fc0-be4b-f6734310fe5b"),
                feature_name: "od",
                direction: -1.0,
                half_count: true,
                contribution_type: Subtractive,
                feature_info: (
                    feature_name: "od",
                    feature_description: "Unknown",
                    component_name: "Unknown",
                    component_description: "Unknown",
                    feature_category: External,
                    nominal: 0.0,
                    tolerance_plus: 0.0,
                    tolerance_minus: 0.0,
                ),
            ),
        ],
        target_dimension: 0.1,
        tolerance_target: (
            plus: 0.12,
            minus: 0.08,
            distribution: Normal,
        ),
        upper_spec_limit: Some(0.12),
        lower_spec_limit: Some(0.08),
        created: "2025-07-12T01:59:39.364879069Z",
        updated: "2025-07-12T02:37:47.826850876Z",
        metadata: {},
        dimension_chain_info: [
            (
                feature_name: "distance to hol",
                feature_description: "Unknown",
                component_name: "Unknown",
                component_description: "Unknown",
                feature_category: External,
                nominal: 0.0,
                tolerance_plus: 0.0,
                tolerance_minus: 0.0,
            ),
            (
                feature_name: "hole",
                feature_description: "Unknown",
                component_name: "Unknown",
                component_description: "Unknown",
                feature_category: External,
                nominal: 0.0,
                tolerance_plus: 0.0,
                tolerance_minus: 0.0,
            ),
            (
                feature_name: "distance to pin",
                feature_description: "Unknown",
                component_name: "Unknown",
                component_description: "Unknown",
                feature_category: External,
                nominal: 0.0,
                tolerance_plus: 0.0,
                tolerance_minus: 0.0,
            ),
            (
                feature_name: "od",
                feature_description: "Unknown",
                component_name: "Unknown",
                component_description: "Unknown",
                feature_category: External,
                nominal: 0.0,
                tolerance_plus: 0.0,
                tolerance_minus: 0.0,
            ),
        ],
    ),
]
