{
    ("4d2d350e-9803-4f02-9969-53a07f2ba83c"): (
        id: ("4d2d350e-9803-4f02-9969-53a07f2ba83c"),
        employee_id: None,
        first_name: "Jack",
        last_name: "Hale",
        email: "jhale@",
        job_title: "Engineer",
        department: "Engineering",
        phone: None,
        office_location: None,
        time_zone: None,
        git_username: Some("jackhale98"),
        slack_username: None,
        active: true,
        primary_role: ("f1bd5d5a-9e7c-4f7b-9d7a-2d03d5574fee"),
        additional_roles: [],
        team_memberships: [],
        hire_date: None,
        manager_id: None,
        metadata: {},
        created: "2025-07-12T13:12:28.816066902Z",
        updated: "2025-07-12T13:12:28.816066902Z",
    ),
}