[
    (
        id: ("ab7b7f5c-cf92-411c-967d-8ca01bf8ee67"),
        name: "baseline1",
        description: Some("test first baseline"),
        created_date: "2025-07-11T23:04:40.790350501Z",
        created_by: "Jack",
        is_current: false,
        baseline_type: Initial,
        project_snapshot: (
            project_name: "Test Project",
            start_date: "2025-07-11",
            end_date: "2025-07-11",
            total_cost: 0.0,
            total_effort_hours: 0.0,
            tasks: {},
            milestones: {
                ("4248b2e8-f637-47c5-b560-846e064d35f9"): (
                    id: ("4248b2e8-f637-47c5-b560-846e064d35f9"),
                    name: "Project end",
                    target_date: "2025-07-18",
                    dependencies: [],
                ),
            },
            resources: {
                ("99ce444c-2771-4e1b-ac46-1a906ba27d61"): (
                    id: ("99ce444c-2771-4e1b-ac46-1a906ba27d61"),
                    name: "Jack",
                    hourly_rate: 201.0,
                    total_allocated_hours: 0.0,
                    total_cost: 0.0,
                ),
            },
        ),
        created: "2025-07-11T23:04:40.790350501Z",
        updated: "2025-07-11T23:04:40.790350501Z",
        metadata: {},
    ),
    (
        id: ("088f2a7d-2658-4820-9ccc-c67a026ffd3a"),
        name: "baseline2",
        description: Some("testing comparison"),
        created_date: "2025-07-11T23:05:53.458883175Z",
        created_by: "Jack",
        is_current: false,
        baseline_type: Initial,
        project_snapshot: (
            project_name: "Test Project",
            start_date: "2025-07-11",
            end_date: "2025-07-11",
            total_cost: 0.0,
            total_effort_hours: 0.0,
            tasks: {},
            milestones: {
                ("4248b2e8-f637-47c5-b560-846e064d35f9"): (
                    id: ("4248b2e8-f637-47c5-b560-846e064d35f9"),
                    name: "Project end",
                    target_date: "2025-07-18",
                    dependencies: [],
                ),
            },
            resources: {
                ("99ce444c-2771-4e1b-ac46-1a906ba27d61"): (
                    id: ("99ce444c-2771-4e1b-ac46-1a906ba27d61"),
                    name: "Jack",
                    hourly_rate: 201.0,
                    total_allocated_hours: 0.0,
                    total_cost: 0.0,
                ),
            },
        ),
        created: "2025-07-11T23:05:53.458883175Z",
        updated: "2025-07-11T23:05:53.458883175Z",
        metadata: {},
    ),
    (
        id: ("e6591c8a-68c5-42c9-a0f4-a29cf8d47d01"),
        name: "baseline3",
        description: Some("this is a third baseline"),
        created_date: "2025-07-11T23:46:40.099889967Z",
        created_by: "jack",
        is_current: false,
        baseline_type: Approved,
        project_snapshot: (
            project_name: "Test Project",
            start_date: "2025-07-11",
            end_date: "2025-07-21",
            total_cost: 1600.0,
            total_effort_hours: 16.0,
            tasks: {
                ("e3343ce0-b14f-4c91-9cd3-e3c5500966aa"): (
                    id: ("e3343ce0-b14f-4c91-9cd3-e3c5500966aa"),
                    name: "1",
                    start_date: "2025-07-11",
                    end_date: "2025-07-18",
                    duration_days: 8,
                    effort_hours: 8.0,
                    cost: 800.0,
                    assigned_resources: [
                        "99ce444c-2771-4e1b-ac46-1a906ba27d61",
                    ],
                    dependencies: [],
                    work_breakdown_structure: None,
                ),
                ("9ee18719-77ea-4b41-a39b-82ce9dea1baa"): (
                    id: ("9ee18719-77ea-4b41-a39b-82ce9dea1baa"),
                    name: "task2",
                    start_date: "2025-07-11",
                    end_date: "2025-07-21",
                    duration_days: 11,
                    effort_hours: 8.0,
                    cost: 800.0,
                    assigned_resources: [],
                    dependencies: [
                        ("e3343ce0-b14f-4c91-9cd3-e3c5500966aa"),
                    ],
                    work_breakdown_structure: None,
                ),
            },
            milestones: {
                ("4248b2e8-f637-47c5-b560-846e064d35f9"): (
                    id: ("4248b2e8-f637-47c5-b560-846e064d35f9"),
                    name: "Project end",
                    target_date: "2025-07-18",
                    dependencies: [],
                ),
            },
            resources: {
                ("99ce444c-2771-4e1b-ac46-1a906ba27d61"): (
                    id: ("99ce444c-2771-4e1b-ac46-1a906ba27d61"),
                    name: "Jack",
                    hourly_rate: 201.0,
                    total_allocated_hours: 0.0,
                    total_cost: 0.0,
                ),
            },
        ),
        created: "2025-07-11T23:46:40.099889967Z",
        updated: "2025-07-11T23:46:40.099889967Z",
        metadata: {},
    ),
    (
        id: ("3dcbc178-4926-426c-8bde-945c512dd338"),
        name: "basline4",
        description: Some("after running schedule"),
        created_date: "2025-07-11T23:50:07.592168311Z",
        created_by: "jack",
        is_current: false,
        baseline_type: Approved,
        project_snapshot: (
            project_name: "Test Project",
            start_date: "2025-07-11",
            end_date: "2025-07-21",
            total_cost: 1600.0,
            total_effort_hours: 16.0,
            tasks: {
                ("e3343ce0-b14f-4c91-9cd3-e3c5500966aa"): (
                    id: ("e3343ce0-b14f-4c91-9cd3-e3c5500966aa"),
                    name: "1",
                    start_date: "2025-07-11",
                    end_date: "2025-07-18",
                    duration_days: 8,
                    effort_hours: 8.0,
                    cost: 800.0,
                    assigned_resources: [
                        "99ce444c-2771-4e1b-ac46-1a906ba27d61",
                    ],
                    dependencies: [],
                    work_breakdown_structure: None,
                ),
                ("9ee18719-77ea-4b41-a39b-82ce9dea1baa"): (
                    id: ("9ee18719-77ea-4b41-a39b-82ce9dea1baa"),
                    name: "task2",
                    start_date: "2025-07-11",
                    end_date: "2025-07-21",
                    duration_days: 11,
                    effort_hours: 8.0,
                    cost: 800.0,
                    assigned_resources: [],
                    dependencies: [
                        ("e3343ce0-b14f-4c91-9cd3-e3c5500966aa"),
                    ],
                    work_breakdown_structure: None,
                ),
            },
            milestones: {
                ("4248b2e8-f637-47c5-b560-846e064d35f9"): (
                    id: ("4248b2e8-f637-47c5-b560-846e064d35f9"),
                    name: "Project end",
                    target_date: "2025-07-18",
                    dependencies: [],
                ),
            },
            resources: {
                ("99ce444c-2771-4e1b-ac46-1a906ba27d61"): (
                    id: ("99ce444c-2771-4e1b-ac46-1a906ba27d61"),
                    name: "Jack",
                    hourly_rate: 201.0,
                    total_allocated_hours: 0.0,
                    total_cost: 0.0,
                ),
            },
        ),
        created: "2025-07-11T23:50:07.592168311Z",
        updated: "2025-07-11T23:50:07.592168311Z",
        metadata: {},
    ),
    (
        id: ("0718fd8c-46f0-4f23-bab9-093726aac56c"),
        name: "baseline5",
        description: Some("current?"),
        created_date: "2025-07-11T23:50:51.741426755Z",
        created_by: "jack",
        is_current: true,
        baseline_type: Working,
        project_snapshot: (
            project_name: "Test Project",
            start_date: "2025-07-11",
            end_date: "2025-07-21",
            total_cost: 1600.0,
            total_effort_hours: 16.0,
            tasks: {
                ("e3343ce0-b14f-4c91-9cd3-e3c5500966aa"): (
                    id: ("e3343ce0-b14f-4c91-9cd3-e3c5500966aa"),
                    name: "1",
                    start_date: "2025-07-11",
                    end_date: "2025-07-18",
                    duration_days: 8,
                    effort_hours: 8.0,
                    cost: 800.0,
                    assigned_resources: [
                        "99ce444c-2771-4e1b-ac46-1a906ba27d61",
                    ],
                    dependencies: [],
                    work_breakdown_structure: None,
                ),
                ("9ee18719-77ea-4b41-a39b-82ce9dea1baa"): (
                    id: ("9ee18719-77ea-4b41-a39b-82ce9dea1baa"),
                    name: "task2",
                    start_date: "2025-07-11",
                    end_date: "2025-07-21",
                    duration_days: 11,
                    effort_hours: 8.0,
                    cost: 800.0,
                    assigned_resources: [],
                    dependencies: [
                        ("e3343ce0-b14f-4c91-9cd3-e3c5500966aa"),
                    ],
                    work_breakdown_structure: None,
                ),
            },
            milestones: {
                ("4248b2e8-f637-47c5-b560-846e064d35f9"): (
                    id: ("4248b2e8-f637-47c5-b560-846e064d35f9"),
                    name: "Project end",
                    target_date: "2025-07-18",
                    dependencies: [],
                ),
            },
            resources: {
                ("99ce444c-2771-4e1b-ac46-1a906ba27d61"): (
                    id: ("99ce444c-2771-4e1b-ac46-1a906ba27d61"),
                    name: "Jack",
                    hourly_rate: 201.0,
                    total_allocated_hours: 0.0,
                    total_cost: 0.0,
                ),
            },
        ),
        created: "2025-07-11T23:50:51.741426755Z",
        updated: "2025-07-11T23:50:51.741426755Z",
        metadata: {},
    ),
]