[
    (
        id: ("5072061a-7812-473f-b28f-dea25e0a9ada"),
        title: "material discontinue",
        description: "lustran no longer made",
        category: Technical,
        probability: Medium,
        impact: Major,
        risk_score: 1.6,
        status: Realized,
        owner: None,
        identified_by: "Jack",
        identified_date: "2025-07-11T23:02:43.375572267Z",
        last_reviewed: None,
        target_resolution_date: Some("2025-07-25"),
        actual_resolution_date: None,
        related_tasks: [],
        related_milestones: [],
        related_issues: [],
        mitigation_strategy: Some("order a ton of it first"),
        contingency_plan: None,
        mitigation_actions: [
            (
                id: ("1674b042-06aa-4c53-8229-586939281067"),
                description: "PO placed?",
                assigned_to: "jack",
                due_date: "2025-07-23",
                status: NotStarted,
                estimated_cost: None,
                actual_cost: None,
                completion_date: None,
                effectiveness_rating: None,
                notes: None,
            ),
        ],
        risk_responses: [],
        comments: [],
        cost_impact: None,
        schedule_impact_days: None,
        business_impact: Low,
        residual_probability: None,
        residual_impact: None,
        tags: [],
        created: "2025-07-11T23:02:43.375572267Z",
        updated: "2025-07-11T23:54:38.183254913Z",
        metadata: {},
    ),
]