[
    (
        id: ("99ce444c-2771-4e1b-ac46-1a906ba27d61"),
        name: "Jack",
        email: Some("jhale"),
        role: "engineer",
        hourly_rate: Some(201.0),
        daily_hours: 8.0,
        availability_percentage: 100.0,
        skills: [],
        created: "2025-07-11T22:26:17.489323662Z",
        updated: "2025-07-11T22:26:17.489323662Z",
        metadata: {},
    ),
]