[
    (
        id: ("45d582df-731c-4c13-8be4-39f8cd73bb56"),
        name: "New input",
        description: "this is a test input",
        input_type: Specification,
        source: "test req",
        requirements: [],
        created: "2025-07-10T19:47:06.845245635Z",
        updated: "2025-07-10T19:47:06.845245635Z",
        metadata: {},
    ),
    (
        id: ("e818417f-15f2-4934-8979-ad1b846da02b"),
        name: "test input",
        description: "this is also a test",
        input_type: Specification,
        source: "",
        requirements: [],
        created: "2025-07-10T20:31:16.692802965Z",
        updated: "2025-07-10T20:31:16.692802965Z",
        metadata: {},
    ),
]