[
    (
        id: ("5050c19b-4dc9-407a-809e-9f91ba8e0f56"),
        name: "DI1",
        description: "new design input",
        input_type: "Specification",
        requirement_id: ("987cd7cb-c5c8-4695-9f49-b6c1c9bd4860"),
        acceptance_criteria: [],
        linked_outputs: [],
        created: "2025-07-11T02:25:31.775166891Z",
        updated: "2025-07-11T02:25:31.775166891Z",
    ),
]