[
    (
        id: ("54511071-8d45-4996-8d10-ec251391190e"),
        name: "test req",
        description: "this is a test requirement",
        category: Reliability,
        priority: High,
        status: Draft,
        due_date: None,
        acceptance_criteria: [
            "Hopefully this saves",
            "p/f",
            "p/f",
            "p",
            "n",
        ],
        risk_score: None,
        created: "2025-07-10T19:46:21.812880878Z",
        updated: "2025-07-10T19:46:21.812880878Z",
        links: [],
        traced_to: [],
        traced_from: [],
        metadata: {},
    ),
    (
        id: ("712dd509-9c54-4ac8-bebc-c6870f985cb7"),
        name: "test requirement",
        description: "this is a test",
        category: Functional,
        priority: Critical,
        status: Draft,
        due_date: None,
        acceptance_criteria: [],
        risk_score: None,
        created: "2025-07-10T20:31:02.598960186Z",
        updated: "2025-07-10T20:31:02.598960186Z",
        links: [],
        traced_to: [],
        traced_from: [],
        metadata: {},
    ),
]