[
    (
        id: ("54511071-8d45-4996-8d10-ec251391190e"),
        name: "test req",
        description: "this is a test requirement",
        category: "Reliability",
        priority: High,
        status: Draft,
        acceptance_criteria: [
            "Hopefully this saves",
            "p/f",
            "p/f",
            "p",
            "n",
        ],
        created: "2025-07-10T19:46:21.812880878Z",
        updated: "2025-07-10T19:46:21.812880878Z",
        linked_inputs: [],
    ),
    (
        id: ("712dd509-9c54-4ac8-bebc-c6870f985cb7"),
        name: "test requirement",
        description: "this is a test",
        category: "Functional",
        priority: Critical,
        status: Draft,
        acceptance_criteria: [],
        created: "2025-07-10T20:31:02.598960186Z",
        updated: "2025-07-10T20:31:02.598960186Z",
        linked_inputs: [],
    ),
    (
        id: ("fcfe4517-d84c-48be-a178-fa6a0f84665a"),
        name: "test req 2",
        description: "This is a test requirement",
        category: "Maintainability",
        priority: Low,
        status: Draft,
        acceptance_criteria: [],
        created: "2025-07-11T01:36:49.703724003Z",
        updated: "2025-07-11T01:36:49.703724003Z",
        linked_inputs: [],
    ),
]