[
    (
        id: ("987cd7cb-c5c8-4695-9f49-b6c1c9bd4860"),
        name: "req1",
        description: "This is the first requirement",
        source: "Client",
        category: "Performance",
        priority: High,
        status: Draft,
        created: "2025-07-11T02:24:58.965190276Z",
        updated: "2025-07-11T02:25:07.513245194Z",
    ),
]