[
    (
        id: ("27776f8c-8291-40a0-ae0f-2ef7665cee8c"),
        name: "DV Testing",
        description: "this is DV testing",
        verification_type: "Verification",
        procedure: "Person",
        responsible_party: "Jack",
        output_id: ("5edf5700-6468-46d3-9833-1993a192c7c3"),
        status: Planned,
        created: "2025-07-11T02:26:18.004443994Z",
        updated: "2025-07-11T02:26:18.004443994Z",
    ),
]